<template>
  <v-dialog v-model="dialog">
    <v-btn fab fixed bottom right dark slot="activator" class="teal mb-5 mr-3" v-tooltip:top="{html: 'Add more answers'}">
      <v-icon light>add</v-icon>
    </v-btn>
    <v-card>
        <v-card-title>Answer</v-card-title>
        <v-card-text>
          <v-text-field label="Text" required v-model="text"></v-text-field>
          <v-switch label="Correct?" required v-model="correct">
          </v-switch>
        </v-card-text>
      <v-card-actions>
        <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
        <v-btn class="blue--text darken-1" flat @click.native="saveAnswer">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false,
        text: null,
        correct: false
      }
    },
    props: ['questionId'],
    methods: {
      saveAnswer () {
        this.$store.dispatch('addAnswer', {questionId: this.questionId, payload: {text: this.text, correct: this.correct}})
        this.dialog = false
      }
    }
  }
</script>
