<template>
  <div id="course">
    <v-layout row wrap>
      <v-flex xs4 v-for="section in $store.state.sections">
        <v-card hover>
          <v-card-title class="green" primary-title>
            <span class="display-1">{{section.name}}</span>
            </v-card-title>
          <v-card-text>
              <v-chip>
                <v-avatar class="green darken-4">{{section.theme_count}}</v-avatar>
                Themes
              </v-chip>
          </v-card-text>
          <v-divider />
          <v-card-actions>
            <v-btn flat class="green--text" router :to="{ name: 'adminSection', params: { sectionId: section.id } }">View themes</v-btn>
            <SectionForm :section="section"/>
            <v-btn flat class="green--text" @click.native="deleteSection(section.id)">
              <v-icon class="green--text mr-1">delete</v-icon>
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <SectionForm />
  </div>
</template>

<script>
  import AdminSection from './Section.vue'
  import SectionForm from './SectionForm.vue'

  export default {
    name: 'course',
    components: {
      AdminSection,
      SectionForm
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('getSections')
      },
      deleteSection (id) {
        this.$store.dispatch('deleteSection', id)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" rel="stylesheet/scss">
</style>
