<template>
  <v-dialog v-model="dialog">
    <v-btn v-if="material" flat class="green--text" slot="activator">
      <v-icon class="green--text mr-1">edit</v-icon>
      Edit
    </v-btn>
    <v-btn fab fixed bottom right dark v-else slot="activator" class="teal mb-5 mr-3" v-tooltip:top="{html: 'Add more materials'}">
      <v-icon light>add</v-icon>
    </v-btn>
    <v-card>
        <v-card-title>Material</v-card-title>
        <v-card-text>
          <v-text-field label="Title" required v-model="title"></v-text-field>
          <v-text-field label="Content" required v-model="content" multi-line></v-text-field>
        </v-card-text>
      <v-card-actions>
        <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
        <v-btn class="blue--text darken-1" flat @click.native="saveMaterial">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false,
        title: null,
        content: null
      }
    },
    created () {
      if (this.material) {
        this.title = this.material.title
        this.content = this.material.content
      }
    },
    props: ['sectionId', 'material'],
    methods: {
      saveMaterial () {
        if (this.material) {
          this.$store.dispatch('updateMaterial', {id: this.material.id, payload: this.payload()})
        } else {
          this.$store.dispatch('addMaterial', {sectionId: this.sectionId, payload: this.payload()})
        }
        this.dialog = false
      },
      payload () {
        return {title: this.title, content: this.content}
      }
    }

  }
</script>
