<template>
  <div class="question">
    <v-data-table :headers="headers()"
                  :items="$store.state.answers"
                  hideActions
    >
      <template slot="items" scope="props">
        <td>
          <v-edit-dialog
            @open="props.item._text = props.item.text"
            @cancel="props.item.text = props.item._text || props.item.text"
            large
            lazy>
            {{props.item.text}}
            <v-text-field
              slot="input"
              label="Text"
              :value="props.item.text"
              @change="val => updateAnswer(props.item, {text: val})">
            </v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-switch
            slot="input"
            v-model="props.item.correct"
            @change="val => updateAnswer(props.item, {correct: val})">
          </v-switch>
        </td>
        <td>
          <v-btn icon @click.native="deleteAnswer(props.item.id)">
            <v-icon>delete</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
    <AnswerForm :questionId="this.$route.params.questionId"></AnswerForm>
  </div>
</template>

<script>
  import AnswerForm from './AnswerForm.vue'

  export default {
    name: 'admin-question',
    components: {
      AnswerForm
    },
    data () {
      return {
        editing: false
      }
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('getAnswers', this.$route.params.questionId)
      },
      headers () {
        return [{text: 'Text', left: true, value: 'text', sortable: false}, {
          text: 'Correct?',
          left: true,
          value: 'correct',
          sortable: false
        }, {text: 'Remove', left: true, sortable: false}]
      },
      updateAnswer (answer, payload) {
        this.$store.dispatch('updateAnswer', {id: answer.id, payload: payload})
      },
      deleteAnswer (id) {
        this.$store.dispatch('deleteAnswer', id)
      }
    },
    watch: {
      '$route': 'fetchData'
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .fab:focus .fab__content {
    transform: none !important;
  }

  .fab[data-tooltip] {
    position: fixed;
  }
</style>
