<template>
  <v-dialog v-model="dialog">
    <v-btn v-if="question" flat class="green--text" slot="activator">
      <v-icon class="green--text mr-1">edit</v-icon>
      Edit
    </v-btn>
    <v-btn fab fixed bottom right dark v-else slot="activator" class="teal mb-5 mr-3" v-tooltip:top="{html: 'Add more questions'}">
      <v-icon light>add</v-icon>
    </v-btn>
    <v-card>
        <v-card-title>Question</v-card-title>
        <v-card-text>
          <v-text-field label="Title" required v-model="title"></v-text-field>
          <v-text-field label="Description" v-model="description"></v-text-field>
        </v-card-text>
      <v-card-actions>
        <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
        <v-btn class="blue--text darken-1" flat @click.native="saveQuestion">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false,
        title: null,
        description: null
      }
    },
    props: ['themeId', 'question'],
    created () {
      if (this.question) {
        this.title = this.question.title
        this.description = this.question.description
      }
    },
    methods: {
      saveQuestion () {
        if (this.question) {
          this.$store.dispatch('updateQuestion', {
            id: this.question.id,
            payload: this.payload()
          })
        } else {
          this.$store.dispatch('addQuestion', {
            themeId: this.themeId,
            payload: this.payload()
          })
        }
        this.dialog = false
      },
      payload () {
        return {
          title: this.title,
          description: this.description
        }
      }
    }
  }
</script>
