<template>
  <div class="section">
    <v-switch label="Текст / Тесты" v-model="themes"></v-switch>
    <v-layout row wrap v-if="themes">
      <v-flex xs4 v-for="theme in $store.state.themes">
        <v-card hover>
          <v-card-title class="green" primary-title>
            <span class="display-1">{{theme.name}}</span>
          </v-card-title>
          <v-card-text>
            <v-chip>
              <v-avatar class="green darken-4">{{theme.question_count}}</v-avatar>
              Questions
            </v-chip>
          </v-card-text>
          <v-divider/>
          <v-card-actions>
            <v-btn flat class="green--text" router :to="{ name: 'adminTheme', params: { themeId: theme.id } }">View
              questions
            </v-btn>
            <ThemeForm :theme="theme"/>
            <v-btn flat class="green--text" @click.native="deleteTheme(theme.id)">
              <v-icon class="green--text mr-1">delete</v-icon>
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-else>
      <v-flex xs4 v-for="material in $store.state.materials">
        <v-card hover>
          <v-card-title class="green" primary-title>
            <span class="display-1">{{material.title}}</span>
            </v-card-title>
          <v-card-text>
          </v-card-text>
          <v-divider/>
          <v-card-actions>
            <MaterialForm :material="material"/>
            <v-btn flat class="green--text" @click.native="deleteMaterial(material.id)">
              <v-icon class="green--text mr-1">delete</v-icon>
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <ThemeForm :sectionId="this.$route.params.sectionId" v-if="themes"/>
    <MaterialForm :sectionId="this.$route.params.sectionId" v-else/>
  </div>
</template>

<script>
  import ThemeForm from './ThemeForm.vue'
  import Theme from './Theme.vue'
  import MaterialForm from './MaterialForm'

  export default {
    name: 'admin-section',
    components: {
      ThemeForm,
      Theme,
      MaterialForm
    },
    data () {
      return {
        themes: true
      }
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('getThemes', this.$route.params.sectionId)
        this.$store.dispatch('getMaterials', this.$route.params.sectionId)
      },
      deleteTheme (id) {
        this.$store.dispatch('deleteTheme', id)
      },
      deleteMaterial (id) {
        this.$store.dispatch('deleteMaterial', id)
      }
    },
    watch: {
      '$route': 'fetchData'
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
