<template>
  <v-dialog v-model="dialog">
    <v-btn v-if="section" flat class="green--text" slot="activator">
      <v-icon class="green--text mr-1">edit</v-icon>
      Edit
    </v-btn>
    <v-btn fab fixed bottom right dark v-else slot="activator" class="teal mb-5 mr-3" v-tooltip:top="{html: 'Add more sections'}">
      <v-icon light>add</v-icon>
    </v-btn>
    <v-card>
        <v-card-title>Section</v-card-title>
        <v-card-text>
          <v-text-field label="Name" required v-model="name"></v-text-field>
        </v-card-text>
      <v-card-actions>
        <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
        <v-btn class="blue--text darken-1" flat @click.native="saveSection">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false,
        name: null
      }
    },
    props: ['section'],
    created () {
      if (this.section) {
        this.name = this.section.name
      }
    },
    methods: {
      saveSection () {
        if (this.section) {
          this.$store.dispatch('updateSection', {id: this.section.id, payload: this.payload()})
        } else {
          this.$store.dispatch('addSection', {payload: this.payload()})
        }
        this.dialog = false
      },
      payload () {
        return {name: this.name}
      }
    }
  }
</script>
