<template>
  <v-dialog v-model="dialog">
    <v-btn v-if="theme" flat class="green--text" slot="activator">
      <v-icon class="green--text mr-1">edit</v-icon>
      Edit
    </v-btn>
    <v-btn fab fixed bottom right v-else slot="activator" class="teal mb-5 mr-3" dark v-tooltip:top="{html: 'Add more themes'}">
      <v-icon light>add</v-icon>
    </v-btn>
    <v-card>
        <v-card-title>Theme</v-card-title>
        <v-card-text>
          <v-text-field label="Name" required v-model="name"></v-text-field>
          <v-select label="Material" :items="materials" item-text="title" item-value="id" return-object
                    required v-model="material"></v-select>
        </v-card-text>
      <v-card-actions>
        <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
        <v-btn class="blue--text darken-1" flat @click.native="saveTheme">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false,
        name: null,
        material: null,
        materials: []
      }
    },
    created () {
      if (this.theme) {
        this.name = this.theme.name
        setTimeout(_ => {
          this.materials = this.$store.state.materials
          this.material = this.theme.material
        }, 500)
      }
    },
    props: ['sectionId', 'theme'],
    methods: {
      saveTheme () {
        if (this.theme) {
          this.$store.dispatch('updateTheme', {id: this.theme.id, payload: this.payload()})
        } else {
          this.$store.dispatch('addTheme', {sectionId: this.sectionId, payload: this.payload()})
        }
        this.dialog = false
      },
      payload () {
        return {name: this.name, materialId: this.material.id}
      }
    }

  }
</script>
