<template>
  <div class="theme">
    <v-layout row wrap>
      <v-flex xs4 v-for="question in $store.state.questions">
        <v-card hover>
          <v-card-title class="green" primary-title>
            <span class="display-1">{{question.title}}</span>
          </v-card-title>
          <v-card-text>
            <div>
              <v-chip>
                <v-avatar class="green darken-4">{{question.answer_count}}</v-avatar>
                Answers
              </v-chip>
            </div>
            <div>
              Description: {{question.description}}
            </div>
          </v-card-text>
          <v-divider/>
          <v-card-actions>
            <v-btn flat class="green--text" router :to="{ name: 'adminQuestion', params: { questionId: question.id } }">
              View answers
            </v-btn>
            <QuestionForm :question="question"/>
            <v-btn flat class="green--text" @click.native="deleteQuestion(question.id)">
              <v-icon class="green--text mr-1">delete</v-icon>
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <QuestionForm :themeId="this.$route.params.themeId"/>
  </div>
</template>

<script>
  import QuestionForm from './QuestionForm.vue'

  export default {
    name: 'admin-theme',
    components: {
      QuestionForm
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('getQuestions', this.$route.params.themeId)
      },
      deleteQuestion (id) {
        this.$store.dispatch('deleteQuestion', id)
      }
    },
    watch: {
      '$route': 'fetchData'
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
