<template>
  <div id="course">
    <v-card>
      <v-list>
        <v-list-tile v-for="section in this.$store.state.sections" :disabled="!section.available"
                     :to="{name: 'studentSection', params: {sectionId: section.id}}"
                     :href="{name: 'studentSection', params: {sectionId: section.id}}">
          <v-list-tile-action>
            <v-icon :class="classForIcon(section)">{{iconForSection(section)}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{section.name}}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>
  </div>
</template>

<script>
  export default {
    name: 'course',
    data () {
      return {
        sections: []
      }
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('getSections')
      },
      iconForSection (section) {
        if (section.available) {
          return 'done'
        } else {
          return 'clear'
        }
      },
      classForIcon (section) {
        let klass = ''
        if (section.completed) {
          klass += 'success--text'
        }
        return klass
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" rel="stylesheet/scss">
  .sections-list {
    padding: 1em 0;
  }
</style>
