<template>
  <div class="section">
    <v-card>
      <v-card-title class="title indigo white--text">
          {{$store.state.testQuestion.section.name}}
        </v-card-title>
      <v-card-text class="white--text indigo lighten-1">
          {{$store.state.testQuestion.theme.name}}
        </v-card-text>
      <v-card-text class="indigo lighten-2 grey--text text--darken-4">
          Current streak: {{stats("streak")}}; Questions left in this theme: {{stats('remaining')}}
        </v-card-text>
      <v-card-text class="indigo lighten-4">
        <span class="headline grey--text text--darken-4">{{$store.state.testQuestion.question.title}}</span>
          <h5 class="grey--text text--darken-4">{{$store.state.testQuestion.question.description}}</h5>
          <v-layout row wrap>
            <v-flex xs6 v-for="answer in $store.state.testQuestion.answers">
              <v-checkbox :label="answer.text" v-model="checkedAnswers" :value="answer"></v-checkbox>
            </v-flex>
          </v-layout>
        </v-card-text>
      <v-card-actions class="indigo darken-1">
        <v-btn :disabled="snackbar" flat class="white--text" @click.native="submitAnswer">
          <v-icon left light>done</v-icon>
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar
      top
      :success="$store.state.testResponse.correct"
      :error="!$store.state.testResponse.correct"
      v-model="snackbar"
    >{{$store.state.testResponse.message}}</v-snackbar>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        snackbar: false,
        checkedAnswers: []
      }
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.$store.dispatch('getTestQuestion', this.$route.params.sectionId)
      },
      submitAnswer () {
        let answer = {}
        this.$store.state.testQuestion.answers.forEach(ans => {
          answer[ans.id] = this.checkedAnswers.includes(ans)
        })
        this.$store.dispatch(
          'postTestAnswer', {
            sectionId: this.$route.params.sectionId,
            answer: answer,
            callback: () => { this.snackbar = true }
          }
        )
      },
      stats (entity) {
        if (this.$store.state.testResponse.stats) {
          return this.$store.state.testResponse.stats[entity]
        } else {
          return this.$store.state.testQuestion.stats[entity]
        }
      }
    },
    watch: {
      '$route': 'fetchData'
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
