<template>
  <div v-if="currentQuestion()" class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Тема {{theme.name}} Вопрос №{{currentQuestionIdx + 1}}</h4>
        <p class="card-text">{{currentQuestion().title}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link text-uppercase">Submit</a>
      </div>
    </div>
  </div>
</template>

<script>
import themesService from '../services/themes'

export default {
  name: 'theme',
  props: {
    'theme': {default: null}
  },
  data () {
    return {
      questions: [],
      currentQuestionIdx: 0
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      themesService.show(this.theme.id)
        .then(res => {
          this.questions = res.data.questions
        })
    },
    currentQuestion () {
      return this.questions[this.currentQuestionIdx]
    }
  },
  watch: {
    'theme': 'fetchData'
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
