<template>
  <v-app>
    <v-navigation-drawer permanent clipped>
      <v-list dense class="pt-0">
        <v-list-tile v-for="item in routerItems" :href="item.link" :to="item.link" :disabled="item.disabled">
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar class="teal" dark fixed>
      <v-toolbar-title>ATS</v-toolbar-title>
    </v-toolbar>
    <main style="padding-left: 300px">
      <v-container fluid grid-list-md>
        <v-card v-if="shouldShowBreadcrumbs()" hover class="mb-4">
          <v-card-text>
            <v-breadcrumbs icons divider="forward">
              <v-breadcrumbs-item router :to="breadcrumbRouterLink(item)" v-for="item in $store.state.breadcrumbs">
                {{item.text}}
              </v-breadcrumbs-item>
            </v-breadcrumbs>
          </v-card-text>
        </v-card>

        <router-view></router-view>
      </v-container>
    </main>
    <v-footer class="teal"><span>2017</span></v-footer>
  </v-app>
</template>

<script>
  import Course from './components/Course'

  export default {
    name: 'app',
    components: {
      Course
    },
    data () {
      return {
        routerItems: [
          {title: 'Доступные секции', link: '/sections', icon: 'home', disabled: false},
          {title: 'Войти в систему', link: '/login', icon: 'account_circle', disabled: true},
          {title: 'Регистрация', link: '/signup', icon: 'input', disabled: true},
          {title: 'Администрирование', link: '/admin', icon: 'lock', disabled: false}
        ]
      }
    },
    created () {
      this.updateBreadcrumbs()
    },
    methods: {
      updateBreadcrumbs () {
        const key = Object.keys(this.$route.params)[0]
        const klass = this.$route.name.replace('admin', '')
        this.$store.dispatch('getBreadcrumbs', {klass: klass, id: this.$route.params[key]})
      },
      breadcrumbRouterLink ({id, type}) {
        const paramIdKey = `${type.toLowerCase()}Id`
        let params = {}
        params[paramIdKey] = id
        return {name: `admin${type}`, params: params}
      },
      shouldShowBreadcrumbs () {
        return this.$route.name.indexOf('admin') > -1
      }
    },
    watch: {
      '$route': 'updateBreadcrumbs'
    }
  }
</script>

<style lang="scss">
  @import "styles/app";
</style>
